{% extends 'home/base.html' %}

{% block content %}
    <div>
        <p>Hello, world. I've been working with some API's and making fun stuff with them in Django. Here's a listing of the API's you can use on my site:</p>
    </div>
    <div>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>API</th>
              <th>Description</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>Find your IP Address</p>
              </td>
              <td>
                <p>Returns the user details about their IP address. Also displays your historical IP address data for logged-in users.</p>
              </td>
              <td>
                <a href="{% url 'ip_index' %}">IP API Link</a>
              </td>
            </tr>
            <tr>
              <td>
                <p>Test if what Dave's acronyms might mean</p>
              </td>
              <td>
                <p>User inputs an email from Dave. Online form finds all the acronyms in the email and returns suggestions for what those acronyms might mean.</p>
              </td>
              <td>
                <a href="{% url 'acronym_index' %}">What do dave's acronyms mean?</a>
              </td>
            </tr>
            <tr>
              <td>
                <p>Get a truly random number</p>
              </td>
              <td>
                <p>Gets a truly random number from the quantum random number API. Also let's users view basic stats on numbers other users have gotten.</p>
              </td>
              <td>
                <a href="{% url 'random_index' %}">Random Num API Link</a>
              </td>
            </tr>
        </table>
    </div>
    <br>
    <div>
        <p>I've continued learning Django, and graduated to non-api projects. Here's some of my recents:</p>
    </div>

    <div>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>To-do app</p>
              </td>
              <td>
                <p>Basic to-do list functionality. STILL A WORK IN PROGRESS! Allows list creation, completion, and sharing of lists between friends.</p>
              </td>
              <td>
                <a href="{% url 'todo_index' %}">To-do App Link</a>
              </td>
            </tr>
            <tr>
              <td>
                <p>Friends</p>
              </td>
              <td>
                <p>Allows users of Django API Tomfoolery to connect with friends. They accept, reject, follow, etc. STILL A WORK IN PROGRESS!</p>
              </td>
              <td>
                <!-- if user not logged in, show link to register -->
                <!-- if user logged in, show link to friends (need to pass username from view function)-->
                <a href="{% url 'friendship_view_friends' 'username' %}">Friendship Link</a>
              </td>
            </tr>
          
        </table>
    </div>
{% endblock %}