{% extends 'home/base.html' %}

{% block content %}
  <div>
    <h4>Hello, {{ username }}!</h4>
  </div>

  <div id="wrapper1">

    <!-- Whatever you want in the lefthand side div -->
    <div id="sidebar1">
      <div class="todo-task">
        <a href="{% url 'use_to_do_form' username=username %}">Add new To Do list</a>
    {% csrf_token %}
      </div>

      <div class="task-list" id="pending">
          <h3>My incomplete tasks</h3>
          <!-- Sample task added manually to check look -->
          {% for todo in todos %}
          <div class="todo-task">
            <div class="task-header"><a href="{% url 'todo_detail' pk=todo.pk %}">{{ todo.title }}</a></div>
          </div>
          {% empty %}
            <div class="task-description">No tasks yet. Add some to get started!</div>
          {% endfor %}
      </div>

      <div class="task-list" id="inProgress">
        <h3>Shared incompletes</h3>
          <!-- Sample task added manually to check look -->
          {% for shared_todo in shared_todos %}
          <div class="todo-task">
            <div class="task-header"><a href="{% url 'todo_detail' pk=shared_todo.pk %}">{{ shared_todo.title }}</a></div>
            <div class="task-date">Author: {{ shared_todo.author }}</div>
          </div>
          {% empty %}
            <div class="task-description">No shared tasks yet. Make some friends to get started!</div>
          {% endfor %}
      </div>

      <div class="task-list" id="inProgress">
        <h3>Completed Tasks</h3>
          <!-- Sample task added manually to check look -->
          {% for todo in completed_todos %}
          <div class="todo-task">
            <div class="task-header"><a href="{% url 'todo_complete_detail' pk=todo.pk %}">{{ todo.title }}</a></div>
          </div>
          {% empty %}
            <div class="task-description">No shared tasks yet. Make some friends to get started!</div>
          {% endfor %}
      </div>
    </div>

    <!-- Whatever you wants in the righthand side div -->
    {% block rightdiv %}
    {% endblock %}

  </div>

{% endblock %}