{% extends 'todo/base.html' %}

{% block rightdiv %}

    <div id="content1">
      

      <div class="task-list" id="completed">
        <h3>Completed</h3>
          <!-- Sample task added manually to check look -->
          {% for completed_todo in completed_todos %}
          <div class="todo-task">
            <div class="task-header">{{ completed_todo.title }}</div>
            <div class="task-date">Created: {{ completed_todo.created_date }}</div>
            <div class="task-date">Due: {{ completed_todo.due_date }}</div>
            <div class="task-description">{{ completed_todo.text }}</div>
          </div>
          {% empty %}
            <div class="task-description">No shared tasks yet. Make some friends to get started!</div>
          {% endfor %}
      </div>

      
    </div>


    <div id="cleared1"></div>
  </div>

{% endblock %}