{% load staticfiles %}
<html>
    <head>
        <title>Django API Tomfoolery</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/united.css' %}">
    </head>
    <body>
        {% block navbar %}
        <div class="navbar navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Django API Tomfoolery</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="">Home</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Account <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'index' %}">Profile</a></li>
                                <li><a href="">Change Password</a></li>
                                <li><a href="">Reset Password</a></li>
                                <li><a href="">Change Email</a></li>
                                <li><a href="">Log Out</a></li>
                            </ul>
                        </li>
                        <li><a href="">Log In</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="page-header">
            <h1>Whatchur IP Address?</h1>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

