{% extends 'home/base.html' %}

{% block content %}
  <div>
    <h4>Hello, {{ username }}!</h4>
  </div>

  <div id="wrapper1">

    <!-- Whatever you want in the lefthand side div -->
    <div id="sidebar1">
      <div class="task-list" id="pending">
          <h3>My incomplete tasks</h3>
          <!-- Sample task added manually to check look -->
          {% for todo in todos %}
          <div class="todo-task">
            <div class="task-header">{{ todo.title }}</div>
            <div class="task-date">Created: {{ todo.created_date }}</div>
            <div class="task-date">Due: {{ todo.due_date }}</div>
            <div class="task-description">{{ todo.text }}</div>
            <a href="#" class="btn btn-primary btn-xs">Finished?</a> <a href="#" class="btn btn-primary btn-xs">Share?</a>
          </div>
          {% empty %}
            <div class="task-description">No tasks yet. Add some to get started!</div>
          {% endfor %}
      </div>
      <div class="task-list" id="inProgress">
        <h3>Shared incompletes</h3>
          <!-- Sample task added manually to check look -->
          {% for shared_todo in shared_todos %}
          <div class="todo-task">
            <div class="task-header">{{ shared_todo.title }}</div>
            <div class="task-date">Author: {{ shared_todo.author }}</div>
            <div class="task-date">Created: {{ shared_todo.created_date }}</div>
            <div class="task-date">Due: {{ shared_todo.due_date }}</div>
            <div class="task-description">{{ shared_todo.text }}</div>
          </div>
          {% empty %}
            <div class="task-description">No shared tasks yet. Make some friends to get started!</div>
          {% endfor %}
      </div>
    </div>

    <!-- Whatever you wants in the righthand side div -->
    {% block rightdiv %}
    {% endblock %}

  </div>

{% endblock %}