{% extends 'todo/base.html' %}

{% block rightdiv %}

<div class="task-list">
  <h3>Add a task</h3>
  <form id="edit-todo-form" action="{% url 'use_to_do_form' username=username %}" method="POST">
    {% csrf_token %}

    <div class="fieldWrapper">
        {{ form.title.errors }}
        {{ form.title }}
    </div>

    <div class="fieldWrapper">
        {{ form.text.errors }}
        {{ form.text }}
    </div>

    <div class="fieldWrapper">
        {{ form.due_date.errors }}
        {{ form.due_date }}
    </div>

    {% if todo.author_has_friends == True %}
    <div class="fieldWrapper">
      <label for="{{ form.shared_user.id_for_label }}">Select users to share task with:</label>
        {{ form.shared_user.errors }}
        {{ form.shared_user }}
    </div>
    {% else %}
      <p>  If you had some friends, you could share your todo's with them. <a href="{% url 'friendship_friends_index' username=request.user.username %}">Try to make some over here</a>.</p>
    {% endif %}

    <div class="hidden">
      <label>Tasks</label>
    </div>

    <ul class="list-group added-tasks-in-form">
      <!-- <li class="list-group-item">
        <span class="badge">14</span>
        Cras justo odio
      </li> -->
      {% for task in all_tasks %}
        <li class='list-group-item' id='{{ task.pk }}' >
          <span class='badge add-form' id='{{ task.pk }}' >X</span>
          {{ task.title }}
        </li>
      {% endfor %}
    </ul>



    <div class="form-group">
      <label class="control-label">Add Task</label>
      <div class="input-group" id="task">

        <input type="text" class="form-control" id="task-description">
        <span class="input-group-btn">
          <button id="task-button" class="btn btn-default" type="button">Button</button>
        </span>
      </div>
    </div>

    <br>
    <input type="submit" class="btn btn-primary" value="Edit Todo" />

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>



    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&close;</button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="hidden shared-users">
                <label>Shared with these peoples</label>
              </div>
              <ul class="list-group shared-user-list">
              </ul>
              <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label" ></label>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for..." id="shared-user-email">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="modal-add-shared-user-button">Go!</button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
              </div><!-- /.form-group -->
            </div><!-- /.modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <a href="#" id="modal-submit" class="btn btn-success success">Submit</a>
          </div>
        </div>
      </div>
    </div><!-- /.modal -->




  </form>
</div>

{% endblock %}