{% extends 'todo/base.html' %}

{% block rightdiv %}

<div class="task-list" id="pending">
    <h3>{{ todo.title }}</h3>
    <div class="todo-task">
    <div class="task-header"><a href="{% url 'todo_detail' username=username pk=todo.pk %}">{{ todo.title }}</a></div>
    <div class="task-date">Created: {{ todo.created_date }}</div>
    <div class="task-date">Due: {{ todo.due_date }}</div>
    <div class="task-description">{{ todo.text }}</div>

    <div class="task-header">Incomplete tasks</div>
    {% for task in incomplete_todo_tasks %}
        <div class="task-header">
            <li class='list-group-item' id='li{{ task.pk }}' ><span class='badge todo-detail-incomplete' id='{{ task.pk }}' >X</span>{{ task.title }}</li>
        </div>
    {% empty %}
        <div class="task-description">No tasks yet. Add some now!</div>
    {% endfor %}

    <div class="task-header">Complete tasks</div>
    {% for task in complete_todo_tasks %}
        <div class="task-header complete-tasks">
            <li class='list-group-item' id='{{ task.pk }}' >
                <span class='badge todo-detail-complete' id='{{ task.pk }}' >X</span>
                    {{ task.title }}
            </li>
        </div>
    {% empty %}
        <div class="task-description">You haven't complete any tasks yet! Get working slacker!</div>
    {% endfor %}

    <a href="#" class="btn btn-primary btn-xs">Finished?</a> <a href="#" class="btn btn-primary btn-xs">Share?</a> <a href="#" class="btn btn-primary btn-xs">Edit?</a>
    </div>




</div>
{% endblock %}