{% extends 'todo/base.html' %}

{% block rightdiv %}

    <div id="content1">
      

      <div class="task-list" id="completed">
        <h3>Completed</h3>
          <!-- Sample task added manually to check look -->
          {% for completed_todo in completed_todos %}
          <div class="todo-task">
            <div class="task-header">{{ completed_todo.title }}</div>
            <div class="task-date">Created: {{ completed_todo.created_date }}</div>
            <div class="task-date">Due: {{ completed_todo.due_date }}</div>
            <div class="task-description">{{ completed_todo.text }}</div>
          </div>
          {% empty %}
            <div class="task-description">No shared tasks yet. Make some friends to get started!</div>
          {% endfor %}
      </div>

      <div class="task-list">
        <h3>Add a task</h3>
        <form id="todo-form" action="{% url 'user_todo' username=username %}" method="POST">
          {% csrf_token %}
          <div class="fieldWrapper">
              {{ form.title.errors }}
              {{ form.title }}
          </div>
          <div class="fieldWrapper">
              {{ form.text.errors }}
              {{ form.text }}
          </div>
          <div class="fieldWrapper">
              {{ form.due_date.errors }}
              {{ form.due_date }}
          </div>
          <div class="fieldWrapper">
            <label for="{{ form.shared_user.id_for_label }}">Select users to share task with:</label>
              {{ form.shared_user.errors }}
              {{ form.shared_user }}
          </div>
          <br>
          <input type="submit" class="btn btn-primary" value="Add Task" />
        </form>

        <input type="button" class="btn btn-primary" value="Clear Data" />

        <div id="delete-div">Drag Here to Delete</div>
      </div>
    </div>


    <div id="cleared1"></div>
  </div>

{% endblock %}