{% extends 'home/base.html' %}

{% block content %}
    <div>
        <h4>Your random num is:</h4>
    </div>
    <br>
    <div class = "dashboard" id="random-user-data">
        <h4>Here's your most random number:</h4>
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th>Num</th>
              <th>Count</th>
              <th>Frequency</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ random_num }}</td>
              <td>{{ random_num.count }}</td>
              <td>{{ random_num.frequency }}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class = "dashboard" id="random-user-data">
        <h4>Here's some data on all the random numbers users have gotten:</h4>
        <table class="table table-striped table-hover ">
          <thead>
            {% for num in all_nums %}
            <tr>
              <th>Num</th>
              <th>Count</th>
              <th>Frequency</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ num }}</td>
              <td>{{ num.count }}</td>
              <td>{{ num.frequency }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}