{% extends 'home/base.html' %}

{% block content %} 
{% load friendshiptags %}
<h1>Friends!</h1>
<table id="friends-table">
    <thead>
            <th>
                  <h1>Add some friends</h1>
                  <p>Real life friendships are hard. Add some digital friends here.</p>
                  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
            </th>
            <th>
                  <h1>View your friends</h1>
                  <p>Checkout who you're friends with. Maybe send a message?</p>
                  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
            </th>
            <th>
                  <h1>Friend requests</h1>
                  <p>Nobody new probably wants to be friends. Check anyway!</p>
                  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
            </th>
    </thead>
</table>
{% friends user %}
{% endblock %} 


